<div class="personal-info">
    <div class="title">
        Personal Information
    </div>
    <div class="personal-info-content">
        <div class="picture">

            <img ng-src="{{vm.profile.pictureUrl}}" alt="No profile picture."/>

        </div>
        <div class="info">

            <dl>
                <dt>Name</dt>
                <dd>{{vm.profile.name}}</dd>

                <dt>Surname</dt>
                <dd>{{vm.profile.surname}}</dd>

                <dt>Country</dt>
                <dd>{{vm.profile.country}}</dd>

                <dt>Email</dt>
                <dd>{{vm.profile.email}}</dd>

            </dl>
            <div class="change-info-actions">
                <a ui-sref="main.profile.edit" class="edit-info"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="#" class="change-password"> <i class="fa fa-unlock" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>