<div class="login-wrapper hide">
    <div class="header">
    Login
    </div>
    <form novalidate name="LoginForm" ng-submit="vm.loginUser()">
        <input type="email" required placeholder="Username" ng-model="vm.user.email" />
        <input type="password" required placeholder="Password" ng-model="vm.user.password"/> 
        <input id="submit-login" ng-disabled="LoginForm.$invalid" type="submit" hidden>
    </form>
    
    <div class="text-area">
    <a href="#">Forgot password?</a>
    </div>
    <label for="submit-login" class="submit blue first"  ng-class="{disabled:LoginForm.$invalid}">Login</label>
    <label id="to-register" type="button" class="red" Value="Register" ng-click="vm.newToaster()">Register</label>
</div>