.base-rounded-img-btn{
    //button positioning and sizing
    display:inline-block;
    margin-left:13px;
    margin-right:13px;
    width:60px;
    height:60px;
    border-radius:50%; 
    text-align: center;

    //font styling
    font-size:1.5em;
    line-height:56px;
    color:white;
    
    //body styling
    text-decoration:none;
    background-color:$blue-default;
    border:2px solid $blue-default;

    cursor:pointer;
    &:hover{
        //hover effect
        background-color:white;
        border:2px solid $blue-default;
        color:$blue-default;
    }
    &:active{
        //active effect
        transform:scale(0.95);
    }
    &.disable{

        pointer-events: none !important;
        background-color:$gray-darker !important;
        border-color:$gray-darker !important;
        
    }
}


.base-rounded-img-btn-smaller{
    @extend .base-rounded-img-btn;
    width:50px;
    height:50px;
    line-height: 46px;
    font-size:1.3em;
}

@media(max-width:550px){
    .base-rounded-img-btn{
        width:50px;
        height:50px;
        line-height: 46px;
    }
    .base-rounded-img-btn-smaller{
        width:40px;
        height:40px;
        line-height: 36px;
    }
}


//defualt style for text inputs
.base-text-input{
    //margins / paddings
    margin-left:10px;
    margin-right:10px;
    border-radius:5px;
    padding:12px;
    margin-bottom:5px;
    text-align: center;

    //no default border/outline
    border:none;
    outline:none;
    
    //font family
    font-family: 'Raleway', sans-serif !important;
    
    //text input border
    &[type="text"],&[type="password"],&[type="email"]{
        border:2px solid lighten($blue-default,10%);
        &:not(:focus).ng-not-empty.ng-touched.ng-invalid{
            
            background-color:$red-light;
            color:white; 
            border-color:$red-default;
            
        }
        
    }
}

.base-profile-component-title{
    //font styles
    font-family: 'Gloria Hallelujah', cursive;
    font-size:1.2em;
    color:white;
    text-align:center;
    width:100%;
    
    //container styles
    background-color:$blue-default;
    padding:12px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}