//////////////////////////////
// ---- Color variables -----
/////////////////////////////

//blue
$blue-default:#1e88e5;
$blue-light:lighten($blue-default,10%);

//gray
$gray-light:#eee;

$gray-btn-disabled:#bdbdbd;
$gray-btn-disabled-border:#e0e0e0;

//orange
$orange-default:#ff7043;

//green
$green-default:#64dd17;

$red-default:#f44336;
$red-light:#ff8a80;