<div class="register-wrapper">
    <div class="header">
    Register
    </div>
    <form novalidate name="RegisterForm" ng-submit="vm.registerUser()">
        <input type="email" placeholder="Email" required ng-model="vm.user.email" />
        <input type="password" placeholder="Password" required ng-model="vm.user.password" />
        <input type="password" placeholder="Confirm Password" required ng-model="vm.pwdConfirm" ab-pwd-match="vm.user.password"/>
        <input id="register-btn" type="submit" hidden ng-disabled="RegisterForm.$invalid">
    </form>
    
    <div class="text-area">
    <a ui-sref="auth.login">Back to Login</a>
    </div>
    <label for="register-btn" class="submit blue only" ng-class="{disabled:RegisterForm.$invalid}"> Register </label>
    
</div>