@import "./base/_reset.scss";
@import "./base/_variables.scss";
@import "./base/_fonts.scss";

@import "./toasters/_toasters.scss";

//takes full screen as container
.angular-main{
    width:100vw;
    min-height: 100vh;
    
    
}
.main-content{
    padding:20px 40px 60px 40px;
}
div[ui-view]{
    display:block;
}
//import auth styles
@import "./auth/_auth.scss";

//import main styles
@import "./main/_main.scss";

//import profile styles
@import "./profile/_profile.scss";

@media(max-width:550px){
    .main-content{
        padding:20px 20px 40px 20px;
    }
}


   